<!-- <app-header (buscaChange)="busca = $event; filtrarFilmes()"></app-header> -->

<div *ngIf="carregando">
  <p>Carregando detalhes do filme...</p>
</div>

<div *ngIf="erro">
  <p>{{ erro }}</p>
</div>

<div *ngIf="!carregando && filme" class="filme-detalhe-container">
  <div class="poster-section">
    <img [src]="filme.poster_url" alt="{{ filme.title }}">

    <app-rating
      [averageRating]="filme.averageRating"
      [totalUsers]="filme.totalUsers"
      [status]="userStatus"
      [userRatingFromBackend]="userRating"
      [movieId]="filme.id">
    </app-rating>
  </div>

  <div class="info-section">
    <h2>{{ filme.title }}</h2>
    <p class="overview">{{ filme.overview }}</p>

    <p><strong>Data de lançamento:</strong> {{ filme.release_date }}</p>
    <p><strong>Tempo:</strong> {{ filme.runtime }} minutos</p>

    <p class="generos">
      <span *ngFor="let genero of filme?.genres" class="tag">
        {{ genero }}
      </span>
    </p>

    <div class="elenco">
      <h3>Elenco:</h3>
      <div class="linha-branca"></div>

      <div class="carousel-container">
        <button (click)="scrollLeft()" class="carousel-button">⬅️</button>

        <div class="carousel-scroll" #scrollContainer>
          <app-cast-card
            *ngFor="let ator of cast"
            [nome]="ator.name"
            [nomePersonagem]="ator.character"
            [imageUrl]="ator.photo_url">
          </app-cast-card>
        </div>

        <button (click)="scrollRight()" class="carousel-button">➡️</button>
      </div>
    </div>
    
  </div>
</div>
