<app-header></app-header>

<div class="banner-carrossel">
  <div class="banner-container">
    <div class="banner-slide" *ngFor="let banner of banners; let i = index" 
         [class.active]="i === bannerAtivo" 
         [style.background-image]="'url(' + banner.imagem + ')'">
      <div class="banner-overlay"></div>
      <div class="banner-content">
        <h2>{{ banner.titulo }}</h2>
        <p>{{ banner.descricao }}</p>
      </div>
    </div>
  </div>
  
  <button class="banner-nav prev" (click)="bannerAnterior()">
    <span>&lt;</span>
  </button>
  
  <button class="banner-nav next" (click)="proximoBanner()">
    <span>&gt;</span>
  </button>
  
  <div class="banner-indicators">
    <button *ngFor="let banner of banners; let i = index" 
            class="indicator" 
            [class.active]="i === bannerAtivo"
            (click)="irParaBanner(i)">
    </button>
  </div>
</div>

<nav class="menu-navegacao">
  <a [routerLink]="['/inicio']" class="menu-item hide-mobile">Início</a>
  <a [routerLink]="['/filmes']" class="menu-item">Filmes</a>
  <a [routerLink]="['/mais-votados']" class="menu-item">Mais votados</a>
  <a [routerLink]="['/minha-lista']" class="menu-item">Minha Lista</a>
  <input type="text" class="menu-search" placeholder="Buscar...">
</nav>

<div *ngIf="filmesContinuarAssistindo.length > 0" class="carrossel-wrapper">
  <app-carrossel [titulo]="'Continuar assistindo'" [filmes]="filmesContinuarAssistindo"></app-carrossel>
</div>

<div class="carrossel-wrapper">
  <app-carrossel [titulo]="'Filmes'" [filmes]="filmes"></app-carrossel>
</div>

<div class="carrossel-wrapper">
  <app-carrossel [titulo]="'Melhores avaliações'" [filmes]="filmesMelhorAvaliados"></app-carrossel>
</div>

<div class="carrossel-wrapper" *ngIf="filmesAventura.length > 0">
  <app-carrossel [titulo]="'Aventura'" [filmes]="filmesAventura"></app-carrossel>
</div>
<div class="carrossel-wrapper" *ngIf="filmesTerror.length > 0">
  <app-carrossel [titulo]="'Terror'" [filmes]="filmesTerror"></app-carrossel>
</div>
<div class="carrossel-wrapper" *ngIf="filmesComedia.length > 0">
  <app-carrossel [titulo]="'Comédia'" [filmes]="filmesComedia"></app-carrossel>
</div>
<div class="carrossel-wrapper" *ngIf="filmesDrama.length > 0">
  <app-carrossel [titulo]="'Drama'" [filmes]="filmesDrama"></app-carrossel>
</div>

